* { 
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  background-color: lightgray;
}

h1 {
padding-top: 2vh;
padding-left: 3vh;
font-family: 'Julius Sans One';
text-transform: uppercase;
letter-spacing: 1vw;
}

button {
  font-size: 20px;
  padding: 10px;
  background-color: lightskyblue;
}

.bottomBorder {
  border-bottom: 2px solid black;
  height: 10vh;
}

.bookButton {
  margin: 2vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.small-card {
  width: 90vw;
  height: 40vh;
  margin: 1vw 1vh;
  padding: 2px;
}

img {
  object-fit: cover;
  height: 30vh;
  width: 90vw;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0;
}

@media (min-width : 668px){
  .small-card {
  width: 40vw;
  height: 40vh;
  margin: 1vw 1vh;
  }

  img {
    object-fit: cover;
    height: 30vh;
    width: 40vw;
  }
}
@media (min-width : 1024px){
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }
  
  .small-card {
    width: 20vw;
    height: 40vh;
    margin: 1vw 1vh;
  }
  
  img {
    object-fit: cover;
    height: 30vh;
    width: 20vw;
  }
}